<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forecasting Fools with Mustaches</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>with mustachios</p>
        <img src="resources/img/wileye.png" alt="Wiley E Coyote">

        <form>

            <input placeholder="Enter Address">
            <button>Search</button>
        </form>
        <p id="wrpt-errmsg"></p>
        <p id="weather-rpt"></p>
    </div>
    {{>footer}}
    <script type="text/javascript" src="resources/js/app.js"></script>
</body>

</html>