<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forecasting Fools</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormsg}}</p>
    </div>
    {{>footer}}
</body>

</html>