<footer class="navbar sm-text">
    <ul>
        <li>Copyright &copy; 2020. All rights reserved.</li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">legal info</a></li>
    </ul>
</footer>